<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to QuotingDojo</h1>
  <form action="">
      <table>
        <tbody>
          <tr>
            <td>
              <!-- label for "your name" -->
            </td>
            <td>
              <!-- input -->
            </td>
          </tr>
          <tr>
            <td>
              <!-- label for your quote -->
            </td>
            <td>
              <!-- textarea -->
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <input type="submit" value="">
        <button>Skip to quotes</button>
      </div>
  </form>
</body>
</html>